<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Under Construction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/construction.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="left-side">
        </div>
        <div class="right-side">
            <h1 class="construction">
                Hello!
                <br>
                My portfolio is currently under construction.
                <br>
                Come back soon :]
            </h1>
        </div>
    </div>
</body>
</html>